.hobbies_wrapper{
    padding: 10px;
    display: flex;
    flex-direction: column;
    max-width: 560px;
    height: 500px;
    margin: 0 auto;
}
/* @media(max-width: 625px){
    .hobbies_wrapper{
        max-width: 460px;
    }
} */
@media(max-width: 625px){
    .hobbies_wrapper{
        padding: 0px;
    }
}
.title{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    padding: 15px 0px;
}
.subtitle{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: rgba(113, 113, 113, 1);
}
.hobbies{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    padding: 25px;
    overflow-y: auto;
    height: 66%;
}
.hobby_item{
    cursor: pointer;
}
.selected{
    background-color: rgba(204, 214, 255, 1);
    color: rgba(37, 72, 210, 1);
}
.btn{
    margin-top: 25px;
    font-size: 24px;
    font-weight: 600;
}