.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  border: 1px solid rgba(159, 159, 159, 1);
  border-radius: 30px;
  align-items: center;
  position: relative;
  width: 753px;
}
.info {
  display: flex;
  gap: 10px;
  align-items: center;
}
.image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 1px solid rgba(159, 159, 159, 1);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img {
  width: 100%;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}
.edit {
  cursor: pointer;
}
.none {
  display: none;
}
.settings {
  cursor: pointer;
}
.right {
  display: flex;
  gap: 10px;
}
.loader{
  position: absolute;
  height: 40px;
  width: 40px;
  top: 5px;
  left: 10px;
  border: 5px dashed black;
}
.top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.top_title {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 15px;
}
.main_info{
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.geo{
  display: flex;
  align-items: center;
  gap: 5px;
}
.interes{
  width: 257px;
}
.update_geo{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.title_geo{
  font-size: 20px;
  text-align: center;
}
.subtitle_geo{
  font-size: 16px;
  font-weight: 400;
  color: rgba(81, 81, 81, 1);
  text-align: center;
}
.btn{
  font-size: 20px;
  font-weight: 500;
}
@media (max-width: 760px) {
  .wrapper {
    width: 600px;
  }
}
@media (max-width: 625px) {
  .wrapper {
    flex-direction: column;
    align-items: start;
    border: none;
    padding: 20px 7px;
    width: 95%;
    margin: 0 auto;
  }
}
@media (max-width: 490px) {
  .wrapper {
    padding: 20px 5px;
  }
  .image {
    height: 80px;
    width: 80px;
  }
  .main_info, .geo{
    width: 250px;
  }
}
@media (max-width: 390px) {
  .image {
    height: 70px;
    width: 70px;
  }
}
@media (max-width: 355px) {
  .interes{
    width: 230px;
  }
}
