.btn{
    border-radius: 35px;
    border: none;
    padding: 15px 30px;
    color: white;
    background: rgb(14,48,174);
    background: linear-gradient(55deg, rgba(14,48,174,1) 0%, rgba(39,85,254,1) 100%);
    font-weight: 600;
    cursor: pointer;
}
.black{
    background: black;
    transition: 0.2s;
}
.transparent{
    background: transparent;
    color: black;
    border: 1px solid black;
    transition: 0.2s;
}
