.sidebar{
    padding: 15px;
    padding-top: 40px;
    width: 47%;
}
.sidebar_chats{
    width: 100%;
    padding: 20px;
    overflow-y: auto;
    height: 95%;
}
.empty_in_chats{
    color: rgba(105, 105, 105, 1);
    font-size: 14px;
    font-weight: 400;
}
.chats_title{
    padding-left: 10px;
    padding-bottom: 5px;
    font-size: 32px;
    font-weight: 600;
}
.alone{
    width: 80%;
    height: calc(100vh - 74px);
}
@media (max-width: 685px){
    .sidebar{
        width: 25%;
    }
    .sidebar_chats{
        padding: 5px;
    }
    .alone{
        width: 80%;
    }
}
@media (max-width: 625px){
    .sidebar{
        padding-top: 10px;
    }
    .alone{
        width: 90%;
    }
    .chats_title{
        font-size: 24px;
    }
}
@media (max-width: 505px){
    .chats_component{
        width: 500px;
    }
    .sidebar{
        padding: 5px;
    }
    .alone{
        width: 95%;
    }
}
@media (max-width: 405px){
    .alone{
        width: 100%;
    }
}
