.messages{
    overflow-y: auto;
    padding: 10px;
    flex: 1 1 auto;
}
.msgs{
    display: flex;
    flex-direction: column;
    justify-content: end;
}
@media(max-width: 625px){
    .messages{
        height: 400px
    }
}