.chats_component{
    display: flex;
    width: 753px;
    height: 600px;
    font-weight: 400;
    font-size: 19px;
}
@media (max-width: 755px){
    .chats_component{
        width: 680px;
    }
}
@media (max-width: 685px){
    .chats_component{
        width: 620px;
        justify-content: center;
    }
}
@media (max-width: 625px){
    .chats_component{
        width: 500px;
        height: 88%;
        margin: 0 auto;
    }
}
@media (max-width: 505px){
    .chats_component{
        width: 100%;
    }
}