.chats_component{
    display: flex;
    width: 753px;
    height: 600px;
    font-weight: 400;
    font-size: 19px;
}
.chat{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.sidebar{
    padding: 15px;
    padding-top: 90px;
}
.sidebar_chats{
    width: 322px;
    padding: 20px;
}
.chat{
    border-left: 1px solid rgba(159, 159, 159, 1);
}
.chat_user{
    height: 50px;
    padding: 10px;
}
.messages{
    padding: 10px;
    display: flex;
    flex: 1 1 auto;
}
.chat_textarea{
    padding: 10px;
}
.textarea{
    width: 100%;
    border: none;
    background-color: transparent;
    border-radius: 0%;
    outline: none;
    font-size: 19px;
    font-weight: 400;
    padding: 0px;
}