.chat_info{
    padding: 10px 0px;
    display: flex;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
    width: 100%;
}
.chat_info:hover{
    background-color: rgba(210, 210, 210, 1);
    transition: 0.3s;
}
.msg_info{
    display: flex;
    justify-content: space-between;
}
.msg_text{
    font-size: 14px;
}
.msg_date{
    font-size: 14px;
}
.msg_unseen_length{
    font-size: 14px;
    background-color: rgba(37, 72, 210, 1);
    padding: 3px 10px;
    border-radius: 15px;
    color: white;
    text-align: center;
}
.name_date{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.last_msg_name{
    display: inline;
    color: rgba(105, 105, 105, 1);
    font-size: 14px;
    font-weight: 400;
}
.image_wrapper{
    position: relative;
}
.image{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid rgba(159, 159, 159, 1);
    overflow: hidden;
    display: flex; 
    align-items: center; 
    justify-content: center;
}
.img{
    width: 100%; 
    height: auto; 
    min-width: 100%; 
    min-height: 100%; 
    object-fit: cover; 
}
.main_chat_info{
    padding-left: 15px;
    width: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.name{
    font-size: 18px;
    font-weight: 500;
}
.none{
    display: none;
}
.online{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgba(37, 72, 210, 1);
    position: absolute;
    bottom: 0;
    right: 0;
    border: 3px solid rgba(233, 233, 233, 1);
}
@media (max-width: 685px){
    .chat_info{
        justify-content: center;
    }
}