.navbar{
    display: flex;
    padding: 20px 60px;
    justify-content: space-between;
    align-items: center;
}
.auth{
    background-color: white;
    padding: 20px 100px;
    justify-content: center;
}
.main_nav_items{
    display: flex;
    gap: 15px;
}
.nav_frame{
    display: flex;
    justify-content: space-between;
    width: 753px;
    align-items: center;
}
.nav_frame_public{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.navbar__logo-box{
    display: flex;
    gap: 15px;
    cursor: pointer;
}
.title{
    font-size: 30px;
    padding: 9px 0px;
}
.navbar__list{
    display: flex;
    gap: 20px;
    align-items: center;
    animation: show-list 0.5s ease;
}
@keyframes show-list{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.navbar__list-item{
    font-size: 20px;
    cursor: pointer;
    height: 100%;
}
.burger_menu{
    cursor: pointer;
}
.unseen_chats{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
    background-color: rgba(37, 72, 210, 1);
    padding: 3px 7px;
    border-radius: 15px;
    color: white;
    text-align: center;
}
.nav_item_chats{
    position: relative;
}
@media (max-width: 750px) {
    .auth{
        padding: 20px 30px;
    }
}
@media (max-width: 625px) {
    .navbar{
        justify-content: flex-end;
    }
    .navbar.mobile{
        padding: 10px;
        justify-content: space-around;
    }
    .navbar__list.mobile{
        width: 100%;
        justify-content: space-between;
    }
    .navbar.auth{
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 10px;
        z-index: 11;
    }
}