.navbar{
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    align-items: center;
}
.navbar__logo-box{
    display: flex;
    gap: 15px;
    cursor: pointer;
}
.title{
    font-size: 30px;
    padding: 9px 0px;
}
.navbar__list{
    display: flex;
    gap: 20px;
    align-items: center;
    animation: show-list 0.5s ease;
}
@keyframes show-list{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.navbar__list-item{
    font-size: 20px;
    cursor: pointer;
}