.layout{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    background-color: rgb(214, 214, 214);
    border-radius: 30px;
    padding: 30px;
    width: 560px;
    height: 630px;
    display: flex;
    flex-direction: column;
}
.next_link{
    width: 100%;
    text-align: right;
}
.question{
    flex: 1 1 auto;
    animation: show-question 0.5s ease;
}
@keyframes show-question{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}