.content{
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 20px;
    position: relative;
}
@media(max-width: 580px){
    .content{
        padding: 0px;
        padding-top: 40px;
    }
}
s.title{
    font-size: 32px;
    font-weight: 700;
}
.subtitle{
    color: rgba(81, 81, 81, 1);
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 35px;
}
.btn{
    font-size: 24px;
    font-weight: 700;
    max-width: 400px;
}
.loader{
    height: 40px;
    width: 40px;
    left: 0px;
    top: 0px;
    border: 5px dashed black;
    position: absolute;
}
.bottom{
    bottom: 0;
}