.loader_wrapper{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.loader{
    border-radius: 50%;
    border: 10px dashed black;
    height: 150px;
    width: 150px;
    animation: loader 5s linear infinite;
}
@keyframes loader{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.absolute{
    position: absolute;
    top: 0;
    left: 0;
}