/* @import url("https://fonts.cdnfonts.com/css/sf-pro-display"); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'SF Pro Display', sans-serif;
}
#root {
  height: 100vh;
}
.app{
  display: flex;
  flex-direction: column;
  height: 100%;
}
main{
  flex: 1 1 auto;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}
.active{
  color: rgb(14,48,174) !important;
}