.wrapper {
  display: flex;
  gap: 10px;
  padding: 20px;
}
.avatar_img {
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
  height: 560px;
  width: 365px;
  border-radius: 30px;
  overflow: hidden;
}
/* Дополнительные стили для Swiper */
.slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.swiper {
  width: 100%;
  height: 100%; /* или фиксированная высота */
}
.image {
  width: 100%;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}
.assessment {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  z-index: 3;
}
.info {
  width: 365px;
  padding-left: 15px;
  overflow-y: scroll;
  height: 560px;
}
.about_profile{
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}
.like,
.dislike {
  width: 110px;
  height: 60px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 1s;
}
.like {
  background-color: rgba(9, 121, 206, 1);
}
.like:hover {
  transition: 1s;
  background-color: rgb(4, 128, 222);
}
.dislike {
  background-color: rgba(236, 38, 39, 1);
}
.dislike:hover {
  transition: 1s;
  background-color: rgb(249, 46, 46);
}
.name {
  padding-top: 20px;
  font-size: 28px;
  font-weight: 700;
}
.desc{
  font-size: 20px;
  font-weight: 600;
  padding-top: 20px;
}
.subtitle{
  padding-top: 20px;
  color: rgba(159, 159, 159, 1);
  font-size: 20px;
  font-weight: 500;
}
.main_info{
  display: flex;
  gap: 7px;
  flex-wrap: wrap;
}
@media (max-width: 800px) {
  .avatar_img, .info{
    width: 333px;
  }
  .wrapper {
    width: 715px;
  }
}
@media (max-width: 720px) {
  .wrapper {
    width: 470px;
  }
}
/* @media (max-width: 490px) {
  .wrapper {
    padding: 20px 5px;
    width: 370px;
  }
}
@media (max-width: 390px) {
  .wrapper {
    width: 340px;
  }
} */